/*Спецификация*/

@font-face {
    font-family: 'Gill Sans MT';
    src: url('../fonts/GillSansMT.eot');
    src: url('../fonts/GillSansMT.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GillSansMT.woff2') format('woff2'),
        url('../fonts/GillSansMT.woff') format('woff'),
        url('../fonts/GillSansMT.svg#GillSansMT') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gill Sans MT';
    src: url('../fonts/GillSansMT-Bold.eot');
    src: url('../fonts/GillSansMT-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GillSansMT-Bold.woff2') format('woff2'),
        url('../fonts/GillSansMT-Bold.woff') format('woff'),
        url('../fonts/GillSansMT-Bold.svg#GillSansMT-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

body {
	font-size: 20px;
	font-weight: normal;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
	color: #26272d;
	line-height: 1.2em;
	margin: 0;
}

p {
	padding: 0;
	margin: 0;
	color: #8c8f94;
}

ul, li {
	display: block;
	padding: 0;
	margin: 0;
}

img {
	display: block;
	max-width: 100%;
}

a:hover {
	text-decoration: none;
}

.logo {
	display: block;
	background: url(..//img/logo.png) no-repeat;
	width: 133px;
	height: 15px;
}

.menu__link:hover {
	color: #8c8f94;
}

.btn {
	display: block;
	text-align: center;
	border-radius: 30px;
	padding: 6px 13px;
	transition: all 0.5s ease;
}

.btn-menu {
	background-color: #267df4;
	font-size: 16px;
	color: #fff;
	width: 133px;

}

.btn-menu::before {
	content:'';
	display: block;
	background: url('../img/apple-Icon.svg') no-repeat center center;
	width: 16px;
	height: 30px;
	margin-right: 20px;
	transition: all 0.5s ease;
}

.btn-menu:hover {
	color: #fff;
	box-shadow: 0 20px 20px rgba(38,125,244,0.3);
	transform: scale(1.1);
}

.btn-play {
	max-width: 205px;
	width: auto;
	font-size: 18px;
	color: #000;
	border: 1px solid #000;
	padding: 8px 0;
	margin-top: 58px;
}

.btn-play::before {
	content:'';
	display: block;
	background: url('../img/play-Icon.png') no-repeat center;
	width: 16px;
	height: 30px;
	margin-right: 15px;
}

.btn-play:hover {
	color: #000;
	box-shadow: 0 20px 40px rgba(0,0,0,0.3);
	transform: scale(1.1);
}

.btn-blue {
	max-width: 205px;
	width: auto;
	background-color: #267df4;
	font-size: 16px;
	color: #fff;
	padding: 7px 17px;
}

.btn-blue::after {
	content:'';
	display: block;
	background: url('../img/arrow-icon.png') no-repeat center center;
	width: 13px;
	height: 12px;
	margin-left: 57px;
}

.btn-blue:hover {
	color: #fff;
	box-shadow: 0 20px 20px rgba(38,125,244,0.3);
	transform: scale(1.1);
}

.btn-ghost {
	max-width: 205px;
	font-size: 16px;
	color: #000;
	border: 1px solid #000;
	padding: 7px 30px;
}

.btn-ghost:hover {
	color: #000;
	box-shadow: 0 10px 20px rgba(0,0,0,0.3);
	transform: scale(1.1);
}

/*Первый экран*/

.header {
	background: url(../img/backgraund.jpg) no-repeat center center/ cover;
	padding-top: 43px;
}

.menu__item:not(:last-child) {
	margin-right: 36px;
}

.menu__link {
	font-weight: normal;
	font-size: 16px;
	color: #26272d;
}

.menu__link_right:not(:last-child) {
	margin-right: 30px;
}

.button-nav {
	display: block;
	border:none;
	background: url(..//img/menu-Icon.png);
    width: 20px;
  	height: 12px;
}

.header-offer {
	max-width: 865px;
	text-align:center;
}

.header-offer__title {
	font-size: 62px;
	margin-top: 102px;
}

.header-offer__text {
	margin-top: 32px;
}

.header-bg {
	margin-top: 48px;
}

/*Section-about*/

.section-about {
	padding: 120px 0 37px;
}

.section-img {
	display: block;
	height: 47px;
}

.section-offer__title_small {
	font-size: 26px;
	margin-top: 40px;
}
.section-offer__text_small {
	font-size: 18px;
	margin-top: 37px;
}

.section-offer__text_small_end {
	margin-top: 25px;
}

/*Section-proteced*/

.section-protected {
	padding: 40px 0 30px;
	overflow: hidden;
}

.section-protected__img {
	margin-top: 25px;
	margin-left: -110px;
}

.section-offer_center {
	margin-top: 41px;
}

.section-offer__title {
	font-size: 42px;
}

.section-offer__text {
	font-size: 20px;
	margin-top: 70px;
}

.section-offer__text_end {
	margin-top: 23px;
}

.section-btn {
	margin-top: 40px;
}

.section-btn a:not(:last-child) {
	margin-right: 22px;
}

/*Section-map*/

.section-map {
	padding: 30px 0 122px;
	overflow: hidden;
}

.section-map__img {
	margin: 37px 0 0 37px;
}

.section-partners {
	margin-top: 48px;
}

.partners {
	margin-top: 28px;
}

.partners__link:not(:last-child) {
	margin-right: 31px;
}

/*Footer*/

.footer {
	padding: 122px 0 200px;
}

.footer-offer__text {
	font-size: 14px;
	margin-top: 28px;
}

.footer-offer__btn {
	display: block;
	margin-top: 31px;
}

.footer-title {
	font-size: 12px;
	font-weight: bold;
	color: #26272d;
	letter-spacing: 0.19em;
	text-transform: uppercase;
}

.footer-list {
	margin-top: 13px;
}

.footer-list__item {
	margin-bottom: 6px;
}

.footer-list__link {
	font-size: 16px;
	color: #8c8f94;
}

.footer-list__link:hover {
	color: #000;
}

/*  Responsive  */

@media (max-width: 990px) {

	.section-offer:last-child {
		margin-top: 40px;
	}

	.section-protected__img {
		margin: 0;
	}

	.section-map__img {
		margin: 50px 0 0;
	}
}

@media (max-width: 1060px) {
	.section-protected__img {
		margin: 25px 0 0;
	}

	.section-map__img {
		margin: 37px 0 0;
	}
}

@media (max-width: 768px) {
	.footer-list {
		margin-bottom: 50px;
	}
}

@media (max-width: 450px) {
	.header-offer__title {
		font-size: 41px;
	}
}

@media (max-width: 400px) {
	body {
		font-size: 16px;
	}

	.section-btn {
		flex-direction: column;
		align-items: center;
	}

	.section-btn a:not(:last-child) {
		margin: 0;
	}

	.btn-ghost {
		margin-top: 20px;
	}
}